// 代码块的字体大小
figure.highlight, pre span{
    font-size: 0.875em;
}
// 设置文章中的pre块的字体大小
body > main > div.main-inner.post.posts-expand > div.post-block.animated.fadeIn > article > div > pre{
    font-size: 0.875em;
}